/*
 * @Author: Force
 * @Date: 2019-07-16 15:37:04
 * @LastEditors: Force
 * @LastEditTime: 2019-07-16 15:48:12
 * @Descripttion: 这是一个免费开源的ui框架
 */
 
/* 去掉所有元素的内外边距 */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, pre,
a, img,  ul, li, form, label, input,
table, tbody, tfoot, thead, tr, th, td,
audio, video {
	margin: 0;
	padding: 0;
}
/* 统一全局字体  */
body {
	font-size: 14px;
	color: #333;
	font-family: Nunito,Montserrat,system-ui,BlinkMacSystemFont,-apple-system,sans-serif;
}
/* 列表元素去掉默认的列表样式 */
ol, ul {
	list-style: none;
}
/* Table元素的边框折叠 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 去掉默认的下划线 */
a{
	text-decoration: none;
	outline:none;
	color: #333;
}
/* 去掉input自带的边缘效果和背景颜色 */
input{
	outline: none;
	background: none;
}
/*去掉type为number的箭头*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
img{
	border: none;
}